.CodeMirror {
    height: 450px !important;
}

.wall {
    background-color: #bbb;
    border: solid #eee 2px;
    border-right-color: #999;
    border-bottom-color: #888;
    border-left-color: #ddd;
    position: absolute;
}

#input  {
    float: left;
    width: 50%;
    height: 100%;
}

#output {
    float: left;
    width: 50%;
}

#world {
    width: 500px;
    height: 500px;
    border: solid black 1px;
    position: fixed; /* So that children can be absolutely positioned */
    overflow: hidden;
}

#robot {
    background-image: url('../images/roomba.png');
    width: 35px;
    height: 35px;
    position: absolute;
    transition: all 250ms linear;
}

#finish {
    background-color: #0b0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
}
