.input  {
    float: left;
    width: 50%;
    height: 100%;
}

.output {
    float: left;
    width: 50%;
}

#world {
    width: 500px;
    height: 500px;
    border: solid black 1px;
    overflow: hidden;
}

#robot {
    background-image: url('../images/roomba.png');
    width: 35px;
    height: 35px;
    position: relative;
    transition: all 250ms linear;
}

.CodeMirror {
    height: 450px !important;
}
