.input  {
    float: left;
    width: 40%;
}

.output {
    float: left;
    width: 60%;
}

#room {
    width: 500px;
    height: 500px;
    border: solid black 1px;
    overflow: hidden;
}

#robot {
    background-color: red;
    width: 30px;
    height: 30px;
    position: relative;
    transition: top 45ms linear, left 45ms linear;
}