body {
    margin: 0;
}

.CodeMirror {
    height: 500px !important;
    border: solid black 1px;
}

.wall {
    position: absolute;
    background-color: black;
    border: solid black 2px;
}

#navigation {
    position: absolute;
    margin: 0;
    padding: 7px;
    left: 0;
    right: 0;
    height: 16px;
    color: #fff;
    background-color: #f16412;
}

#navigation li {
    list-style-type: none;
    float: left;
    padding: 0 0.5em;
    font-family: sans-serif;
}

#navigation li a {
    color: #fff;
    text-decoration: none;
}

#input  {
    position: absolute;
    top: 30px;
    left: 0;
    right: 502px;
}

#output {
    position: absolute;
    top: 30px;
    right: 2px;
    width: 500px;
}

#world {
    position: absolute; /* So that children can be relatively positioned */
    width: 500px;
    height: 500px;
    border: solid black 1px;
    overflow: hidden;
}

#robot {
    position: absolute;
    background-image: url('../images/roomba.png');
    width: 35px;
    height: 35px;
    transition: all 250ms linear;
}

#finish {
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: #4a4;
    background-color: #afa;
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
}

#console {
    position: absolute;
    left: 0;
    right: 0;
    top: 580px;
    bottom: 0;
    border: solid black 1px;
    overflow: scroll;
}

#console pre {
    margin: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}
.stderr {
    color: #d00;
}
