@()

@main("Roomba Simulator") {
    <ul id="navigation">
        <li><a href="/maze/level0">Level 0</a></li>
        <li><a href="/maze/level1">Level 1</a></li>
        <li><a href="/maze/level2">Level 2</a></li>
        <li><a href="/maze/level3">Level 3</a></li>
        <li><a href="/maze/level4">Level 4</a></li>
    </ul>
    <div id="input">
        <form ng-submit="runSimulation()">
            <label>
                <textarea ui-codemirror="editorOptions" ng-model="code"></textarea>
            </label><br/>
            <input type="submit" value="Run" />
        </form>
    </div>
    <div id="output">
        <div id="world">
            <div id="finish" ng-style="finish">move robot here</div>
            <div id="robot" ng-style="robot"></div>
            <div class="wall" ng-repeat="wall in walls" ng-style="wall"></div>
        </div>
    </div>
    <div id="console">
        <pre class="line" ng-repeat="line in console" ng-class="line.type">{{line.text}}</pre>
    </div>
}
