@()

@main("A Maze Bot") {
    <script src="@routes.Assets.versioned("lib/codemirror/lib/codemirror.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/codemirror/mode/clike/clike.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/codemirror/mode/python/python.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script type="text/javascript">
      let app = Elm.Main.fullscreen(
        {
          secure: window.location.protocol === "https:",
          hostPath: window.location.host + window.location.pathname
        }
      );
      var cm;
      app.ports.codeMirrorFromTextArea.subscribe(
        function(idAndMode) {
          let [id, mode] = idAndMode;
          cm = CodeMirror.fromTextArea(
            document.getElementById(id),
            {
              lineWrapping: true,
              lineNumbers: true,
              matchBrackets: true,
              indentUnit: 4,
              indentWithTabs: true,
              mode: mode
            }
          );
          cm.on(
            "changes",
            function (cm) {
              app.ports.codeMirrorValueChanged.send(cm.getValue());
            }
          );
        }
      );
      app.ports.codeMirrorSetValue.subscribe(
        function(value) {
          cm.setValue(value);
        }
      );
      app.ports.showMessage.subscribe(
        function(message) {
          setTimeout(
            function () { window.alert(message) },
            500
          );
        }
      );
    </script>
}
