@()

@main("A Maze Bot") {
    <script src="@routes.Assets.versioned("lib/codemirror/lib/codemirror.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/codemirror/mode/clike/clike.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/codemirror/mode/python/python.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script type="text/javascript">
      let app = Elm.Main.fullscreen(
        {
          secure: window.location.protocol === "https:",
          host: window.location.host,
          pathname: window.location.pathname,
          initLang: window.localStorage.getItem("lang") || "java"
        }
      );
      var cm, lastExecutedLine;

      app.ports.localStorageSetItemCmd.subscribe(
        function(keyValue) {
          let [key, value] = keyValue;
          window.localStorage.setItem(key, value);
        }
      );
      app.ports.localStorageGetItemCmd.subscribe(
        function(key) {
          app.ports.localStorageGetItemSub.send(
            window.localStorage.getItem(key)
          );
        }
      );
      app.ports.codeMirrorFromTextAreaCmd.subscribe(
        function(idAndMode) {
          let [id, mode] = idAndMode;
          cm = CodeMirror.fromTextArea(
            document.getElementById(id),
            {
              lineWrapping: true,
              lineNumbers: true,
              matchBrackets: true,
              indentUnit: 4,
              indentWithTabs: true,
              mode: mode
            }
          );
          cm.on(
            "changes",
            function (cm) {
              app.ports.codeMirrorDocValueChangedSub.send(cm.getDoc().getValue());
            }
          );
        }
      );
      app.ports.codeMirrorSetOptionCmd.subscribe(
        function(keyValue) {
          let [key, value] = keyValue;
          cm.setOption(key, value);
        }
      );
      app.ports.codeMirrorDocSetValueCmd.subscribe(
        function(value) {
          cm.getDoc().setValue(value);
        }
      );
      app.ports.codeMirrorFlashLineCmd.subscribe(
        function(line) {
          if (lastExecutedLine) {
            cm.getDoc().removeLineClass(lastExecutedLine, 'wrap', 'running');
          }
          if (line > 0) {
            lastExecutedLine = cm.getDoc().addLineClass(line - 1, 'wrap', 'running');
          } else {
            lastExecutedLine = null;
          }
        }
      );
      app.ports.showMessageCmd.subscribe(
        function(message) {
          setTimeout(
            function () { window.alert(message) },
            500
          );
        }
      );

      document.cookie =
        "lastAttempted=" + location.pathname +
        ";expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString() +
        ";path=/";
    </script>
}
